
/*******************************************************************************

Title: Hotspot STIKESMB
Date: 25 May 2013
Author: @muslihzarth

********************************************************************************

	1. Zeengrid
	2. Header
	3. Aside
	4. Section
	5. Footer

*******************************************************************************/

@import 'partial/zeen';

@import 'partial/general';